<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technerd.easyblog.mapper.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.technerd.easyblog.entity.Category" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="del_flag" property="delFlag" jdbcType="BIT" />
        <result column="create_by" property="createBy" jdbcType="INTEGER" />
        <result column="update_by" property="updateBy" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="cate_name" property="cateName" jdbcType="VARCHAR" />
        <result column="cate_pid" property="catePid" jdbcType="INTEGER" />
        <result column="cate_sort" property="cateSort" jdbcType="INTEGER" />
        <result column="cate_level" property="cateLevel" jdbcType="TINYINT" />
        <result column="path_trace" property="pathTrace" jdbcType="VARCHAR" />
        <result column="cate_desc" property="cateDesc" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="count" property="count" jdbcType="INTEGER" />
    </resultMap>
    <delete id="deleteByUserId">
       DELETE
       FROM
           category
       WHERE
           user_id = #{value}
    </delete>

    <select id="findAllWithCount" resultMap="BaseResultMap">
        SELECT
            t.id,
            t.user_id,
            t.cate_name,
            t.cate_pid,
            t.cate_sort,
            t.cate_level,
            t.path_trace,
            t.cate_desc,
            ( SELECT count( r.id ) FROM post_category_ref r WHERE r.cate_id = t.id ) AS `count`,
            t.create_time
        FROM
            category t
        ORDER BY
            t.cate_sort DESC
    </select>

    <select id="findByUserIdWithCount" resultMap="BaseResultMap">
        SELECT
            t.id,
            t.cate_name,
            t.cate_pid,
            t.cate_sort,
            t.cate_level,
            t.path_trace,
            t.cate_desc,
            ( SELECT count( id ) FROM post_category_ref r WHERE r.cate_id = t.id AND r.del_flag = 0 ) AS `count`,
            t.create_time
        FROM
            category t
        WHERE
            t.user_id = #{userId}
            AND t.del_flag = 0
        ORDER BY
            t.cate_sort DESC
    </select>

    <select id="findByPostId" resultMap="BaseResultMap">
        SELECT
            t.id,
            t.cate_name,
            t.cate_pid,
            t.cate_sort,
            t.cate_level,
            t.path_trace,
            t.cate_desc,
            t.create_time
        FROM
            category t,
            post_category_ref r
        WHERE
            r.post_id = #{postId} AND
            r.cate_id = t.id
            AND t.del_flag = 0
            AND r.del_flag = 0
    </select>

    <select id="selectChildCateIds" resultType="java.lang.Long">
        SELECT
            id
        FROM
            category
        WHERE
            path_trace LIKE CONCAT('%', #{pathTrace}, '%')
            AND del_flag = 0
    </select>

    <select id="getTodayCount" resultType="java.lang.Integer">
        SELECT
            count( id )
        FROM
            post
        WHERE
            to_days( create_time ) = to_days( now( ) )
            AND del_flag = 0
    </select>

</mapper>