<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technerd.easyblog.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="com.technerd.easyblog.entity.Comment" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="del_flag" property="delFlag" jdbcType="BIT" />
        <result column="create_by" property="createBy" jdbcType="INTEGER" />
        <result column="update_by" property="updateBy" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="post_id" property="postId" jdbcType="INTEGER" />
        <result column="comment_author" property="commentAuthor" jdbcType="VARCHAR" />
        <result column="comment_author_email" property="commentAuthorEmail" jdbcType="VARCHAR" />
        <result column="comment_author_url" property="commentAuthorUrl" jdbcType="VARCHAR" />
        <result column="comment_author_ip" property="commentAuthorIp" jdbcType="VARCHAR" />
        <result column="comment_author_email_Md5" property="commentAuthorEmailMd5" jdbcType="VARCHAR" />
        <result column="comment_author_avatar" property="commentAuthorAvatar" jdbcType="VARCHAR" />
        <result column="comment_content" property="commentContent" jdbcType="VARCHAR" />
        <result column="comment_agent" property="commentAgent" jdbcType="VARCHAR" />
        <result column="commentParent" property="commentparent" jdbcType="INTEGER" />
        <result column="comment_status" property="commentStatus" jdbcType="BIT" />
        <result column="is_admin" property="isAdmin" jdbcType="BIT" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="path_trace" property="pathTrace" jdbcType="VARCHAR" />
        <result column="accept_user_id" property="acceptUserId" jdbcType="VARCHAR" />
        <result column="comment_type" property="commentType" jdbcType="BIT" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, del_flag, create_by, update_by, create_time, update_time, post_id, comment_author,
        comment_author_email, comment_author_url, comment_author_ip, comment_author_email_Md5,
        comment_author_avatar, comment_content, comment_agent, commentParent, comment_status,
        is_admin, user_id, path_trace, accept_user_id, comment_type
    </sql>
    <select id="findLatestCommentByLimit" resultMap="BaseResultMap">
        SELECT
            id,
            post_id,
            comment_author,
            comment_author_email,
            comment_author_url,
            comment_author_ip,
            comment_author_email_md5,
            comment_author_avatar,
            comment_content,
            comment_agent,
            comment_parent,
            comment_status,
            comment_type,
            is_admin,
            user_id,
            path_trace,
            accept_user_id,
            create_time
        FROM
            comment
        WHERE
            comment_status = 0
            AND is_admin = 0
             AND del_flag = 0
        ORDER BY
            create_time DESC
            LIMIT #{limit}
    </select>

    <delete id="deleteByUserId">
       DELETE
       FROM
           comment
       WHERE
           user_id = #{value}
            AND del_flag = 0
    </delete>

    <delete id="deleteByAcceptUserId">
       DELETE
       FROM
           comment
       WHERE
           accept_user_id = #{value}
            AND del_flag = 0
    </delete>

    <select id="getLatestCommentByIP" resultMap="BaseResultMap">
        SELECT
            id,
            post_id,
            comment_author,
            comment_author_email,
            comment_author_url,
            comment_author_ip,
            comment_author_email_md5,
            comment_author_avatar,
            comment_content,
            comment_agent,
            comment_parent,
            comment_status,
            comment_type,
            is_admin,
            user_id,
            path_trace,
            accept_user_id,
            create_time
        FROM
            comment
        WHERE
            comment_author_ip = #{value}
             AND del_flag = 0
        ORDER BY
            id DESC
            LIMIT 1
    </select>


    <select id="selectChildCommentIds" resultType="java.lang.Long">
        SELECT
            id
        FROM
            comment
        WHERE
            path_trace LIKE CONCAT('%',#{pathTrace},'%')
             AND del_flag = 0
    </select>

    <select id="getTodayCount" resultType="java.lang.Integer">
        SELECT
            count( id )
        FROM
            post
        WHERE
            to_days( create_time ) = to_days( now( ) )
             AND del_flag = 0
    </select>

    <select id="getLatestCommentByAcceptUser" resultMap="BaseResultMap">
        SELECT
            id,
            comment_author,
            comment_content,
            comment_status ,
            create_time
        FROM
            comment
        WHERE
            accept_user_id = #{userId}
             AND del_flag = 0
        ORDER BY
            create_time DESC
            LIMIT #{limit}
    </select>


    <update id="updateCommentStatus">
        UPDATE comment
        SET comment_status = #{status}
        WHERE
            id = #{id}
             AND del_flag = 0
    </update>
</mapper>