<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.technerd.easyblog.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.technerd.easyblog.entity.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="BIT" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menuIcon" property="menuicon" jdbcType="VARCHAR" />
    <result column="cate_sort" property="cateSort" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="menu_type" property="menuType" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, del_flag, create_by, update_by, create_time, update_time, name, menu_url, menuIcon, 
    cate_sort, parent_id, menu_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.technerd.easyblog.entity.Menu" >
    insert into menu (id, del_flag, create_by, 
      update_by, create_time, update_time, 
      name, menu_url, menuIcon, 
      cate_sort, parent_id, menu_type
      )
    values (#{id,jdbcType=INTEGER}, #{delFlag,jdbcType=BIT}, #{createBy,jdbcType=INTEGER}, 
      #{updateBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, #{menuicon,jdbcType=VARCHAR}, 
      #{cateSort,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{menuType,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.technerd.easyblog.entity.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuicon != null" >
        menuIcon,
      </if>
      <if test="cateSort != null" >
        cate_sort,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="menuType != null" >
        menu_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuicon != null" >
        #{menuicon,jdbcType=VARCHAR},
      </if>
      <if test="cateSort != null" >
        #{cateSort,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.technerd.easyblog.entity.Menu" >
    update menu
    <set >
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=BIT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuicon != null" >
        menuIcon = #{menuicon,jdbcType=VARCHAR},
      </if>
      <if test="cateSort != null" >
        cate_sort = #{cateSort,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        menu_type = #{menuType,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.technerd.easyblog.entity.Menu" >
    update menu
    set del_flag = #{delFlag,jdbcType=BIT},
      create_by = #{createBy,jdbcType=INTEGER},
      update_by = #{updateBy,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menuIcon = #{menuicon,jdbcType=VARCHAR},
      cate_sort = #{cateSort,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      menu_type = #{menuType,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>