<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technerd.easyblog.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.technerd.easyblog.entity.Permission" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="del_flag" property="delFlag" jdbcType="BIT" />
        <result column="create_by" property="createBy" jdbcType="INTEGER" />
        <result column="update_by" property="updateBy" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="icon" property="icon" jdbcType="VARCHAR" />
        <result column="target" property="target" jdbcType="VARCHAR" />
        <result column="sort" property="sort" jdbcType="INTEGER" />
        <result column="resource_type" property="resourceType" jdbcType="CHAR" />
        <result column="pid" property="pid" jdbcType="INTEGER" />
        <result column="level" property="level" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, del_flag, create_by, update_by, create_time, update_time, name, url, icon, target,
        sort, resource_type, pid, level
    </sql>
    <select id="findByRoleId" resultMap="BaseResultMap">
      SELECT
          DISTINCT t.id,
          t.`name`,
          t.pid,
          t.resource_type,
          t.url,
          t.icon,
          t.sort,
          t.target
      FROM
          rbac_permission t,
          rbac_role_permission_ref r
      WHERE
          r.role_id = #{value} AND
          t.id = r.permission_id
          AND t.del_flag = 0
          AND r.del_flag = 0
      ORDER BY t.sort ASC
  </select>

    <select id="findPermissionByUserId" resultMap="BaseResultMap">
        SELECT
            DISTINCT p.id,
            p.`name`,
            p.pid,
            p.resource_type,
            p.url,
            p.icon,
            p.sort,
            p.target
        FROM
            user u,
            rbac_role r,
            rbac_user_role_ref ur,
            rbac_permission p,
            rbac_role_permission_ref rp
        WHERE
            u.id = #{userId}
            AND ur.user_id = u.id
            AND ur.role_id = r.id
            AND rp.permission_id = p.id
            AND rp.role_id = r.id
            AND u.del_flag = 0
            AND r.del_flag = 0
            AND ur.del_flag = 0
            AND p.del_flag = 0
            AND rp.del_flag = 0
        ORDER BY p.sort ASC
    </select>


    <select id="findPermissionByUserIdAndResourceType" resultMap="BaseResultMap">
        SELECT
            DISTINCT p.id,
            p.`name`,
            p.pid,
            p.resource_type,
            p.url,
            p.icon,
            p.sort,
            p.target
        FROM
            user u,
            rbac_role r,
            rbac_user_role_ref ur,
            rbac_permission p,
            rbac_role_permission_ref rp
        WHERE
            u.id = #{userId}
            AND ur.user_id = u.id
            AND ur.role_id = r.id
            AND rp.permission_id = p.id
            AND rp.role_id = r.id
            AND p.resource_type = #{resourceType}
            AND u.del_flag = 0
            AND r.del_flag = 0
            AND ur.del_flag = 0
            AND p.del_flag = 0
            AND rp.del_flag = 0
        ORDER BY p.sort ASC
    </select>
</mapper>