<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.technerd.easyblog.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.technerd.easyblog.entity.Role" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="del_flag" property="delFlag" jdbcType="BIT" />
        <result column="create_by" property="createBy" jdbcType="INTEGER" />
        <result column="update_by" property="updateBy" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="role" property="role" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="level" property="level" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, del_flag, create_by, update_by, create_time, update_time, role, description,
        level
    </sql>
    <select id="findByUserId" resultMap="BaseResultMap">
      SELECT
          t.id,
          t.role,
          t.description,
          t.level,
          t.create_time
      FROM
          role t,
          user_role_ref r
      WHERE
          r.user_id = #{value} AND
          t.id = r.role_id
          AND t.del_flag = 0
          AND r.del_flag = 0
  </select>

    <delete id="deleteByUserId">
      DELETE
      FROM
          user_role_ref
      WHERE
          user_id = #{value}
          AND del_flag = 0
  </delete>

    <select id="countUserByRoleId" resultType="java.lang.Integer">
      SELECT
          count( * )
      FROM
          user_role_ref r,
          user t
      WHERE
          r.role_id = #{value} AND
          r.user_id = t.id
          AND t.del_flag = 0
          AND r.del_flag = 0
  </select>

    <select id="findAllWithCount" resultMap="BaseResultMap">
        SELECT
            t.id,
            t.role,
            t.description,
            count( id ) AS count
        FROM
            user_role_ref r,
            role t
        WHERE
            t.id = r.role_id
            AND t.del_flag = 0
            AND r.del_flag = 0
        GROUP BY
            r.role_id
            order by t.level ASC
    </select>
</mapper>